*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: url(wp9654931-peaky-blinders-shelby-desktop-wallpapers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
nav{
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.logo{
    margin: 10px;

}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li{
padding: 10px;
height: 45px;

}
nav{
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;

}
nav a{
    height:100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color: #fff;
    
}

nav li:first-child{
    margin-right: auto;

}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.sidebar li{
    width: 100%;

}
.sidebar a{
    width: 100%;
}

@media(max-width: 800px){
    .hideOnMonbile{
        display: none;
        
    }
}
@media(min-width: 800px){
    .hideOnPc{
        display: none;
        
    }
}


/* ---------slider----------- */


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .ontrend{
    margin: 50px;
  }
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
